body{
background-color:  #E0FFFF;

}
img{width: 20%;}

figure{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
    font-family: 'Katibeh', cursive;
    font-size: 1.4em;
}

h1,h2{
    text-align: center;
}
.video{
    text-align: center;
    width:50%;
    float: left; 
}

footer{
    clear: both;
}